# Ignore VSCode settings
.vscode/

# Ignore CMake build output
out/

# Ignore CMake presets
CMakePresets.json

# Ignore CMake build directory
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake